* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333;
}

canvas {
    display: block;
    width: 500px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px auto;
}
